# Requirements tested with Python 3.11

# General dependencies
librosa>=0.11.0
ipykernel>=7.1.0  # Jupyter kernel for Python
numpy>=2.3
matplotlib>=3.10.8
scipy>=1.17.0
pandas>=2.3.3

# Notebook 1
mido>=1.3.3
pretty_midi>=0.2.11
pypianoroll>=1.0.4
music21>=9.9.1

# Session 5
jams>=0.3.5
harte-library>=0.4.5

# Optional (data preparation)
kagglehub>=0.4.0
